@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

/* GENERAL STYLES */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: -webkit-linear-gradient(to right, #385170, #9fd3c7);
  background: linear-gradient(to right, #385170, #9fd3c7);
  font-size: 1.6rem;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  height: 100vh;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 120rem;
  width: 95%;
}

.boxTitle {
  text-align: center;
  background-color: #ececec;
  font-size: 3rem;
  font-weight: 700;
}

/* STOPWATCH STYLES */
.sample {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2.5rem;
  position: relative;
}

.sample .title {
  color: #000;
  font-size: 2.5rem;
  font-weight: 700;
  padding-top: 1rem;
  text-align: center;
}

.circle {
  align-items: center;
  border: 1px solid #fff;
  border-radius: 50%;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-family: "Roboto Mono", monospace;
  height: 12rem;
  justify-content: center;
  margin: 5rem auto;
  width: 12rem;
}

.circle::before {
  background-color: #1d1d1d;
  border-radius: 50%;
  content: "";
  height: 16rem;
  position: absolute;
  width: 16rem;
  z-index: -1;
}

@keyframes rotation {
  from {
    transform: rotate(-90deg) translateX(6rem);
  }
  to {
    transform: rotate(270deg) translateX(6rem);
  }
}

/* STOPWATCH BUTTONS STYLES */
.stopwatch-buttons {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

.paused {
  height: 1.5rem;
  border-width: 7.5px 0 7.5px 15px;
  cursor: pointer;
  box-sizing: border-box;
  margin-left: 2.5rem;
  border-color: transparent transparent transparent #fff;
  transition: 100ms all ease;
  will-change: border-width;
  border-style: solid;
}

.stop {
  background-color: #fff;
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
}

/* CONTROL BUTTONS STYLES */
.results {
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 2rem;
}

.control-buttons {
  height: 5rem;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 8px;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}

.control-buttons:hover {
  cursor: pointer;
}

.control-buttons:nth-child(1) {
  background-color: #4caf50;
  opacity: 0.9;
}

.control-buttons:nth-child(2) {
  background-color: #f44336;
  opacity: 0.9;
}

.control-buttons:nth-child(3) {
  background-color: #008cba;
  opacity: 0.9;
}

.control-buttons:nth-child(4) {
  background-color: #e7e7e7;
  opacity: 0.9;
}

.control-buttons:nth-child(1):hover {
  background-color: #4caf50;
  opacity: 1;
  transform: scale(1.1);
}

.control-buttons:nth-child(2):hover {
  background-color: #f44336;
  opacity: 1;
  transform: scale(1.1);
}

.control-buttons:nth-child(3):hover {
  background-color: #008cba;
  opacity: 1;
  transform: scale(1.1);
}

.control-buttons:nth-child(4):hover {
  background-color: #e7e7e7;
  opacity: 1;
  transform: scale(1.1);
}

/* RUNNING CLASS */
.running {
  border-style: double;
  border-width: 0 0 0 15px;
}

/* TABLE STYLES */
table {
  text-align: center;
  margin-top: 2rem;
  font-size: 1.4rem;
  font-weight: 700;
}

table,
td {
  border: 2px solid #000;
  border-collapse: collapse;
}

table td {
  height: 5rem;
  width: 5rem;
  font-size: 1.5rem;
}

.row-header {
  background-color: #999;
}
.row-1 {
  background-color: #4caf50;
}
.row-2 {
  background-color: #f44336;
}
.row-3 {
  background-color: #008cba;
}
